{
  "extends": "eslint:recommended",
  "ecmaFeatures": {
    "modules": true
  },
  "env": {
    "node": true,
    "es6": true
  },
  "rules": {
    "no-console": 0,
    "no-unused-vars": [1, {"vars": "all", "args": "none"}],
    "no-empty": 1,
    "no-dupe-args": 2,
    "no-dupe-keys": 2,
    "no-undef": 2
  }
}